# TAKE HTTPS instead of HTTP

<IfModule mod_rewrite.c>
 RewriteEngine On
 RewriteCond %{HTTPS} off
 RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
</IfModule>

# Bad Request

ErrorDocument 400 /error/400.html

# Forbidden

ErrorDocument 403 /error/403.html

# Not Found

ErrorDocument 404 /error/404.html

# Internal Server Error

ErrorDocument 500 /error/500.html

# Multiple Choices

ErrorDocument 300 /error/300.html

# Kein Indexen der Server Struktur

Options -Indexes

# CACHE POLICY


# DISABLE CACHING
<IfModule mod_headers.c>
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires 0
</IfModule>

<FilesMatch "\.(css|flv|gif|htm|html|ico|jpe|jpeg|jpg|js|mp3|mp4|png|pdf|swf|txt)$">
    <IfModule mod_expires.c>
        ExpiresActive Off
    </IfModule>
    <IfModule mod_headers.c>
        FileETag None
        Header unset ETag
        Header unset Pragma
        Header unset Cache-Control
        Header unset Last-Modified
        Header set Pragma "no-cache"
        Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
        Header set Expires "Thu, 1 Jan 1970 00:00:00 GMT"
    </IfModule>
</FilesMatch>
# Only load Data from our Page

#Header set Content-Security-Policy "default-src 'self'; script-src 'self' ajax.googleapis.com 'sha256-JR9VpbHd3oT97VSfDDTCUTm22Qm8u4N0PbgxJhW/Amo=' 'sha256-rXxHbpEPVN642vqioKOxeT8iDyPe62OwG6Fqv8k8byI=' 'sha256-HWjb/DkLfZVYJTf6iosWenEQk4c/zho7PHYHeFjT3tg='; object-src 'self'; base-uri 'self'; style-src 'self' 'unsafe-inline' fonts.googleapis.com; frame-src youtube.com www.youtube.com;"

# Text Compression

<IfModule mod_deflate.c>
 AddOutputFilterByType DEFLATE text/plain
 AddOutputFilterByType DEFLATE text/html
 AddOutputFilterByType DEFLATE text/xml
 AddOutputFilterByType DEFLATE text/shtml
 AddOutputFilterByType DEFLATE text/css
 AddOutputFilterByType DEFLATE application/xml
 AddOutputFilterByType DEFLATE application/xhtml+xml
 AddOutputFilterByType DEFLATE application/rss+xml
 AddOutputFilterByType DEFLATE application/javascript
 AddOutputFilterByType DEFLATE application/x-javascript
</IfModule>
