/* CONFIG */

:root {
    --page-background: #2a343b;
    --menu-background: #2a343b;
    --nav-height: 56px;
}

#big-icon {
    height: 128px;
    width: 128px;
    margin-bottom: 10px;
}

html,
body {
    background-color: var(--page-background);
    overflow: scroll;
    height: 100%;
    margin: 0;
    width: 100%;
    color: white;
    font-family: Inter,
        Helvetica,
        Apple Color Emoji,
        Segoe UI Emoji,
        NotoColorEmoji,
        Noto Color Emoji,
        Segoe UI Symbol,
        Android Emoji,
        EmojiSymbols,
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Helvetica Neue,
        Noto Sans,
        sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

body.menuactive {
    overflow: hidden !important;
}

/* Navigationbar */

nav {
    height: calc(var(--nav-height) - 1px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(166, 166, 166);
    position: sticky;
    top: 0px;
    z-index: 501;
    background-color: #2a343b;
}

nav>a {
    margin: 7px;
    height: 41px;
    width: 41px;
}

#order-corner-logo_headline {
    height: 41px;
    width: 41px;
    background-color: white;
    border-radius: 25%;
}

#menuButton {
    width: 22px;
    height: 12px;
    margin: 7px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

/* Standarts */

h1 {
    font-size: 3rem;
    margin: 0;
}

iframe {
    width: calc(100% - 40px);
    margin: 20px;
    aspect-ratio: 2;
}

section {
    max-width: 2000px;
    margin: 50px;
    margin-left: 75px;
    margin-right: 75px;
}

#rechtlicheLinks {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 5px;
    display: flex;
}

#rechtlicheLinks a {
    text-decoration: none;
    color: rgb(157, 157, 157);
}

#mehrClicked {
    cursor: pointer;
    color: rgb(157, 157, 157);
}

#socialGrid {
    margin: 20px;
    display: flex;
    gap: 30px;
}

#socialGrid a img {
    height: 35px;
    width: 35px;
}

/* FOOTER */

.footer-divider {
    height: 1px;
    width: 50%;
    background-color: white;
}

footer {
    align-items: center;
    margin: 25px;
    display: flex;
    flex-direction: column;
}

footer>h3 {
    text-align: center;
}

#menu {
    width: 100%;
    max-height: 0px;
    height: 0px;
    position: absolute;
    overflow: hidden;
    z-index: 500;
    -webkit-transition: max-height 0.4s ease-out;
    -moz-transition: max-height 0.4s ease-out;
    -ms-transition: max-height 0.4s ease-out;
    -o-transition: max-height 0.4s ease-out;
    transition: max-height 0.4s ease-out;
    height: calc(100% - var(--nav-height));
    background-color: var(--page-background);
    border-bottom: 1px solid gray;
    transform: translateY(-1px);
}

#nav h2 {
    position: relative;
    display: block;
    -webkit-text-fill-color: transparent;
    color: transparent;
    -webkit-background-clip: text !important;
    background-clip: text !important;

    -webkit-transition: transform 0.2s ease-out, background-image 0.2s ease-in;
    -moz-transition: transform 0.2s ease-out, background-image 0.2s ease-in;
    -ms-transition: transform 0.2s ease-out, background-image 0.2s ease-in;
    -o-transition: transform 0.2s ease-out, background-image 0.2s ease-in;
    transition: transform 0.2s ease-out, background-image 0.2s ease-in;

    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(252, 252, 252) 100%);
}

body.menuactive #nav h2 {
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    z-index: 501;
    transform: translateY(300%) scale(2);
    padding: 1px;
    clip-path: inset(1px);
}

body.menuactive #menu {
    overflow: scroll;
    max-height: calc(100% - 50px);
    -webkit-transition: max-height 0.4s ease-out;
    -moz-transition: max-height 0.4s ease-out;
    -ms-transition: max-height 0.4s ease-out;
    -o-transition: max-height 0.4s ease-out;
    transition: max-height 0.4s ease-out;
}

#subMenuDiv {
    overflow: scroll;
    padding-top: 50px;
    min-height: calc(calc(100% - 50px) - calc(1rem + 10px));
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--menu-background);
    align-items: center;
    justify-items: center;
}

#subMenuDiv>img {
    height: 500px;
    width: 463.969px;
}

#subMenuDiv ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#subMenuDiv h3,
#subMenuDiv h2 {
    text-align: center;
    color: white;
}

#subMenuDiv h3,
#subMenuDiv h2 {
    text-align: center;
}

#subMenuDiv ul ul {
    padding: 20px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 25px;
    border: 1px solid gray;
}

#subMenuDiv ul>li>span {
    font-weight: 700;
    margin-bottom: 0px;
    padding-right: 4px;
    padding-left: 4px;
    padding-bottom: 0px;
    transform: translate(30px, 50%);
    background-color: var(--menu-background);
    display: inline-block;
}

#subMenuDiv a {
    text-decoration: none;
}

#subMenuDiv h3 {
    font-size: 25px;
    margin: 10px;
}

#subMenuDiv a *:hover {
    text-decoration: underline;
}

#subMenuDiv h2 {
    font-size: 35px;
}

#subMenuDiv h2:first-of-type {
    margin-top: 0px;
}

/* HEADER SOCIAL GRID */

#headersocialGrid {
    top: 7px;
    position: absolute;
    z-index: 998;
    overflow: hidden;
    display: flex;
    height: 41px;
    width: 188px;
    max-width: 0px;
    gap: 7px;
    margin-left: 55px;
    -webkit-transition: max-width 0.3s ease-in;
    -moz-transition: max-width 0.3s ease-in;
    -ms-transition: max-width 0.3s ease-in;
    -o-transition: max-width 0.3s ease-in;
    transition: max-width 0.3s ease-in;
    align-items: center;
}

#verticalDivider {
    height: 41px;
    max-height: 1px;
    background-color: gray;
    width: 1px;

    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -ms-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;

    -webkit-transition-property: max-height;
    -moz-transition-property: max-height;
    -ms-transition-property: max-height;
    -o-transition-property: max-height;
    transition-property: max-height;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;

    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

#body.menuactive #verticalDivider {
    max-height: 41px;
}

#headersocialGrid a,
#headersocialGrid img {
    height: 30px;
    width: 30px;
}

#body.menuactive #headersocialGrid {

    -webkit-transition: max-width 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
    -moz-transition: max-width 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
    -ms-transition: max-width 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
    -o-transition: max-width 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
    transition: max-width 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);

    max-width: 188px;
}

#rechtlichesLink {
    margin-top: 5px;
    text-decoration: none;
    color: gray;
    position: fixed;
    right: 5px;
    z-index: 999;
    display: none;

    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;

    -webkit-transition-property: display;
    -moz-transition-property: display;
    -ms-transition-property: display;
    -o-transition-property: display;
    transition-property: display;

    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;

    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

#body.menuactive #rechtlichesLink {
    display: block;
}

/*Menu Button*/

#menuButton span {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 1px;
    -webkit-transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
    -moz-transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
    -ms-transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
    -o-transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
    transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}

#menuButton span:first-of-type {
    top: 0;
}

#menuButton span:last-of-type {
    bottom: 0;
}

#body.menuactive #menuButton span:first-of-type {
    transform: rotate(45deg);
    top: 5px;
}

#body.menuactive #menuButton span:last-of-type {
    transform: rotate(-45deg);
    bottom: 5px;
}

/* SMALLER SCREENS */



@media only screen and (max-width: 1000px) {
    #subMenuDiv>img {
        display: none;
    }

    #subMenuDiv {
        grid-template-columns: 1fr;
        padding-top: 100px;
        align-items: start;
        min-height: calc(calc(100% - 100px) - calc(1rem + 10px));
    }
}

@media only screen and (max-width: 750px) {
    section {
        margin-left: 50px;
        margin-right: 50px;
    }

    .footer-divider {
        width: calc(100% - 40px);
    }
}

@media only screen and (max-width: 500px) {
    section {
        margin-left: 25px;
        margin-right: 25px;
    }

    h1 {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 400px) {
    #socialGrid {
        gap: 20px;
    }

    h1 {
        font-size: 2.2rem;
    }
}

@media only screen and (max-width: 350px) {
    body.menuactive #nav h2 {
        transform: translateY(300%) scale(1.7);
    }

    #subMenuDiv h2 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 300px) {
    #socialGrid {
        gap: 10px;
    }

    #subMenuDiv h2 {
        font-size: 25px;
    }
}