#interduction {
    align-items: center;
    gap: 100px;
    display: flex;
    margin-top: 0;
    padding-bottom: 15px;
    padding-top: 15px;
    min-height: calc(100% - 56px);
}

#interduction .logo {
    height: 125px;
    width: 125px;
}

#interduction>div {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#interduction .paragraph {
    width: 60%;
}

#interduction>img {
    height: 80vh;
}

#interduction h1 span {
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.storeLinks {
    gap: 30px;
    display: flex;
    height: 55px;
}

.storeLinks>a>div {
    display: flex;
    background-color: black;
    align-items: center;
    border-radius: 7.5px;
    border: 1px solid #b2b4b7;
    gap: 10px;
    height: 53px !important;
}

.storeLinks>a>* {
    height: 55px;
}

.storeLinks>a {
    color: white;
    text-decoration: none;
}

.storeLinks>a>div>img {
    align-self: stretch;
    margin: 5px;
}

.storeLinks>a>div>span {
    margin-right: 10px;
    white-space: nowrap;
}

#vorteileGrid {
    margin-top: 100px;
    margin-bottom: 200px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 100px;
    display: grid;
}

.vorteileGridItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 25px;
    box-shadow: 5px 10px #888888;
}

.vorteileGridItem.scaled {
    transform: scale(1.2);
}

#fuer-dich-grid {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 150px;
}

.fuer-dich-griditem {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 25px;
}

.fuer-dich-griditem h6 {
    margin-bottom: 0px;
    margin-top: 5px;
}

.fuer-dich-grid-item-headearea {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fuer-dich-grid-item-headearea>img {
    height: 50px;
    width: 50px;
}

.fuer-dich-griditem h2 {
    margin-top: 3px;
    margin-bottom: 0px;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fuer-dich-griditem>a {
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    text-decoration: none;
    background-color: rgb(58, 58, 169);
    border-radius: 25px;
    display: block;
    margin-top: 10px;
}

.partnerGridItem {
    border: 1px solid gray;
    border-radius: 25px;
    padding: 10px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    gap: 15px;
    flex-direction: column;
}

#partnerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    margin-top: 50px;
    margin-bottom: 150px;
}

.partnerGridItem>img {
    object-fit: contain;
    width: 100%;
    max-height: 100%;
}

.partnerGridItem>span {
    color: gray !important;
    text-align: center;
}

#ueberunskachel {
    display: flex;
    margin-top: 50px;
    border: 1px solid gray;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 150px;
}

#ueberunskachel img {
    height: 100px;
    width: 100px;
}

#ueberunskachel img.left {
    transform: translateX(-100%);
}

#ueberunskachel img.right {
    transform: translateX(100%);
}

#ueberunskachel-images {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100px;
    margin-left: 200px;
    margin-right: 200px;
    flex-direction: column;
}

/* SMALLER SCREENS */

@media only screen and (max-width: 1200px) {
    #interduction>img {
        height: 70vh;
    }

    #interduction {
        gap: 50px;
    }
}

@media only screen and (max-width: 1100px) {
    #fuer-dich-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 1000px) {
    #interduction>img {
        height: 60vh;
    }

    #interduction .logo {
        height: 100px;
        width: 100px;
    }

    #vorteileGrid {
        grid-template-areas:
            "a b"
            "c c";
        margin-top: 100px;
        margin-bottom: 200px;
        grid-template-columns: unset;
        row-gap: 100px;
        justify-items: center
    }

    .vorteileGridItem.scaled {
        transform: unset;
    }

    .vorteileGridItem {
        max-width: 350px;
    }
}

@media only screen and (max-width: 600px) {
    #fuer-dich-grid {
        display: grid;
        grid-template-columns: 1fr;
    }
}