#interduction {
    align-items: center;
    gap: 100px;
    display: flex;
    margin-top: 0;
    min-height: calc(100% - 156px);
}

#interduction .logo {
    height: 125px;
    width: 125px;
    background-color: white;
    border-radius: 25%;
    box-shadow: 0px 0px 20px gray;
}

#interduction>div {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#interduction .paragraph {
    width: 60%;
    margin: 0px;
}

#interduction>img {
    height: 600px;
    width: 297px;
}

#interduction>div>h1>span {
    display: inline-block
}

.color-gradient-text {
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.storeLinks {
    gap: 30px;
    display: flex;
    justify-content: center;
    min-height: 55px;
    width: 563px;
}

.storeLinks>a>div {
    display: flex;
    background-color: black;
    align-items: center;
    border-radius: 7.5px;
    border: 1px solid #b2b4b7;
    gap: 10px;
    height: 53px !important;
    min-width: 156px;
}

.storeLinks>a {
    color: white;
    text-decoration: none;
}

.storeLinks>a>div>img {
    height: 43px;
    width: 43px;
    align-self: stretch;
    margin: 5px;
}

#appStoreLinkImg {
    height: 55px;
    width: 164.531px;
}

#playStoreLinkImg {
    height: 55px;
    width: 185.484px;
}

.storeLinks>a>div>span {
    margin-right: 10px;
    white-space: nowrap;
}

#vorteile {
    background-color: black;
    color: white;
}

#vorteileGrid {
    margin-top: 100px;
    margin-bottom: 200px;
    gap: 100px;
    display: flex;
    justify-content: center;
}

.vorteileGridItem {
    max-width: 300px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 25px;
    border: 1px solid gray;
    flex: 1 0 0px;
    -webkit-transition: all 400ms ease-in;
    -moz-transition: all 400ms ease-in;
    -ms-transition: all 400ms ease-in;
    -o-transition: all 400ms ease-in;
    transition: all 400ms ease-in;
    opacity: 0;
}

.vorteileGridItem.isOnScreen:hover {
    transform: rotate3d(0, 1, 0, 20deg) rotate3d(1, 0, 0, -20deg) !important;
}

.vorteileGridItem.isOnScreen.scaled:hover {
    transform: rotate3d(0, 1, 0, 20deg) rotate3d(1, 0, 0, -20deg) scale(1.1) !important;
}

.vorteil-left {
    transform: translateX(-300px);
}

.vorteil-bottom {
    transform: translateY(200px)
}

.vorteil-right {
    transform: translateX(300px)
}

.vorteileGridItem.isOnScreen {
    opacity: 1;
    transform: translate(0, 0);
}

.vorteileGridItem.isOnScreen.scaled {
    transform: scale(1.1) !important;
}

.vorteileGridItem>img {
    width: 128px;
    height: 128px;
    aspect-ratio: 1;
}

.vorteileGridItem>p {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.vorteileGridItem>h2 {
    color: green;
    text-align: center;
}

#fuer-dich-grid {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 150px;
}

.fuer-dich-griditem {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 25px;
}

.fuer-dich-griditem span {

    font-weight: 900;
    margin-top: 5px;
}

.fuer-dich-grid-item-headearea {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fuer-dich-grid-item-headearea>img {
    height: 50px;
    width: 50px;
}

.fuer-dich-griditem h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.fuer-dich-griditem>a {
    display: block !important;
}

.fuer-dich-griditem>a,
#ueberunskachel a {
    display: inline-block;
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    text-decoration: none;
    background-color: rgb(58, 58, 169);
    border-radius: 25px;
    margin-top: 10px;
}

#partner {
    background-color: rgb(53, 53, 152);
    color: white;
}

.partnerGridItem {
    background-color: rgb(38 38 130);
    box-shadow: 0px 0px 20px gray;
    border-radius: 25px;
    padding: 10px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    gap: 15px;
    flex-direction: column;
}

#partnerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 150px;
}

.partnerGridItem>img {
    object-fit: contain;
    width: 100%;
    height: 50px;
}

.partnerGridItem>span {
    text-align: center;
}

#ueberunskachel {
    display: flex;
    margin-top: 50px;
    border: 1px solid gray;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 150px;
}

#ueberuns {
    background-color: #d3d3d3;
}

#ueberunskachel img {
    height: 75px;
    width: 75px;
}

#ueberunskachel img.left {
    transform: translateX(-100%);
}

#ueberunskachel img.right {
    transform: translateX(100%);
}

#ueberunskachel-images {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 75px;
    margin-left: 100px;
    margin-right: 100px;
    flex-direction: column;
}

#ueberunskachel-bottomLine>div {
    display: none;
}

#ueberunskachel a:hover::after,
.fuer-dich-griditem>a:hover::after {
    max-width: 100px;
    padding-left: 10px;
    content: '→';
}

#ueberunskachel a::after,
.fuer-dich-griditem>a::after {
    max-width: 0px;
    display: inline-block;
    justify-self: center;
    margin-top: auto;
    padding-left: 0px;
    content: '';
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

/* SMALLER SCREENS */

@media only screen and (max-width: 1200px) {
    #interduction>img {
        height: 500px;
        width: 247.500px;
    }

    #interduction {
        gap: 50px;
    }
}

@media only screen and (max-width: 1100px) {
    #fuer-dich-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #partnerGrid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 1000px) {
    .storeLinks {
        width: 377px;
        flex-wrap: wrap;
    }

    #interduction .logo {
        height: 100px;
        width: 100px;
    }

    #vorteileGrid {
        flex-wrap: wrap;
    }

    .vorteileGridItem.isOnScreen.scaled {
        transform: scale(1) !important;
    }

    .vorteileGridItem.isOnScreen.scaled:hover {
        transform: rotate3d(0, 1, 0, 20deg) rotate3d(1, 0, 0, -20deg) scale(1) !important;
    }

    .vorteil-bottom {
        transform: translateX(300px)
    }

    .vorteil-right {
        transform: translateX(-300px)
    }

    #interduction {
        padding-top: 25px;
        padding-bottom: 25px;
        min-height: calc(100% - 106px);
    }
}

@media only screen and (max-width: 900px) {
    #partnerGrid {
        grid-template-columns: 1fr 1fr;
    }

    #vorteileGrid {
        gap: 50px;
    }

    .vorteileGridItem {
        width: 250px;
    }

    #ueberunskachel img.left {
        transform: translateX(-75%);
    }

    #ueberunskachel img.right {
        transform: translateX(75%);
    }

    #ueberunskachel-images {
        margin-left: 75px;
        margin-right: 75px;
    }
}

@media only screen and (max-width: 850px) {
    #interduction>img {
        display: none;
    }

    .storeLinks {
        width: 563px;
    }

    .vorteileGridItem>img {
        width: 75px;
        height: 75px;
    }
}

@media only screen and (max-width: 750px) {
    #ueberunskachel img.left {
        transform: translateX(-50%);
    }

    #ueberunskachel img.right {
        transform: translateX(50%);
    }

    #ueberunskachel-images {
        gap: 50px;
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media only screen and (max-width: 700px) {
    .vorteileGridItem {
        width: 350px;
        max-width: unset;
    }
}


@media only screen and (max-width: 660px) {
    .storeLinks {
        width: 377px;
        justify-content: start;
    }
}

@media only screen and (max-width: 660px) {}


@media only screen and (max-width: 600px) {
    #fuer-dich-grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    #partnerGrid {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: 1fr;
    }

    .paragraph {
        width: 100% !important;
    }

    #ueberunskachel-images {
        display: none;
    }

    #ueberunskachel-bottomLine {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #ueberunskachel-bottomLine img {
        height: 50px;
        width: 50px;
    }

    #ueberunskachel-bottomLine>div {
        display: flex !important;
    }

    #ueberunskachel-bottomLine>div>img:first-of-type {
        transform: translateX(25%);
    }
}

@media only screen and (max-width: 430px) {
    .storeLinks {
        width: 200px;
        gap: 15px;
        justify-content: start;
    }
}

@media only screen and (max-width: 370px) {
    #ueberunskachel-bottomLine img {
        height: 40px;
        width: 40px;
    }
}